/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/[lang]/training/Training.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.Training_container__d8Vno {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.Training_title__QOG1J {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.Training_grid___ptVH {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.Training_gridItem__3BB_S {
  display: flex;
}


