/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/components/PartnerLogo/PartnerLogo.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.PartnerLogo_partner__hfiC5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.PartnerLogo_partner__hfiC5:hover {
  transform: scale(1.05);
}

.PartnerLogo_logo__bpGyX {
  width: 200px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.PartnerLogo_name__fqyhD {
  text-align: center;
  font-size: 0.9rem;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/[lang]/partners/Partners.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.Partners_logoGrid__hrOyx {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.Partners_projectList__Q5tca,
.Partners_publicationList__vdM7R {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
